/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #sbs-2358 {
    padding: var(--sectionPadding);
  }
  #sbs-2358 .cs-container {
    width: 100%;
    /* changes to 1800px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #sbs-2358 .cs-content {
    width: 100%;
    max-width: 75.9375rem;
  }
  #sbs-2358 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #sbs-2358 .cs-topper {
    margin-bottom: 1.5rem;
  }
  #sbs-2358 .cs-title {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 5vw, 1.9375rem);
    /* 32px - 64px */
    margin: 0 0 clamp(2rem, 7vw, 4rem);
    max-width: 100%;
  }
  #sbs-2358 .cs-text {
    max-width: 59.625rem;
  }
  #sbs-2358 .cs-stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-2358 .cs-number {
    /* 39px - 90px */
    font-size: clamp(2.4375rem, 7vw, 5.625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #sbs-2358 .cs-color {
    color: var(--primary);
    display: inline-block;
    transform: translateX(-0.5rem);
  }
  #sbs-2358 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #sbs-2358 .cs-picture {
    width: 100%;
    max-height: 40rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-2358 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2358 .cs-image-group {
    position: relative;
    z-index: 1;
  }
  #sbs-2358 .cs-picture1 {
    height: 110vw;
  }
  #sbs-2358 .cs-picture2 {
    height: 132vw;
    margin-bottom: 1.5rem;
  }
  #sbs-2358 .cs-link {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 2vw, 1rem);
    line-height: 1.2em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 85%;
    height: 3.5rem;
    margin: 0;
    padding: 0 1rem;
    background-color: #fff;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
  }
  #sbs-2358 .cs-link:hover {
    background-color: #1a1a1a;
    color: #fff;
  }
  #sbs-2358 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2358 .cs-container {
    max-width: 112.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-2358 .cs-flex {
    width: 53%;
    max-width: 28.5625rem;
    flex: none;
    justify-content: space-between;
    gap: 0;
  }
  #sbs-2358 .cs-stat {
    margin-top: 6.25rem;
  }
  #sbs-2358 .cs-title {
    text-align: right;
  }
  #sbs-2358 .cs-picture2 {
    max-height: 100%;
    /* 480px - 660px */
    height: clamp(30rem, 60vw, 42.5rem);
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #sbs-2357 {
    padding: var(--sectionPadding);
  }
  #sbs-2357 .cs-container {
    width: 100%;
    /* changes to 1800px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 32px - 64px */
    gap: clamp(2rem, 5vw, 4rem);
  }
  #sbs-2357 .cs-content {
    width: 100%;
    max-width: 75.9375rem;
    order: -1;
  }
  #sbs-2357 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #sbs-2357 .cs-title {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 5vw, 1.9375rem);
    /* 32px - 64px */
    margin: 0 0 clamp(2rem, 7vw, 4rem);
    max-width: 100%;
  }
  #sbs-2357 .cs-text {
    max-width: 59.625rem;
  }
  #sbs-2357 .cs-stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-2357 .cs-number {
    /* 39px - 90px */
    font-size: clamp(2.4375rem, 7vw, 5.625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #sbs-2357 .cs-color {
    color: var(--primary);
    display: inline-block;
    transform: translateX(-0.5rem);
  }
  #sbs-2357 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #sbs-2357 .cs-picture {
    width: 100%;
    max-height: 40rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-2357 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2357 .cs-image-group {
    position: relative;
    z-index: 1;
  }
  #sbs-2357 .cs-picture1 {
    height: 110vw;
  }
  #sbs-2357 .cs-picture2 {
    height: 132vw;
    margin-bottom: 1.5rem;
  }
  #sbs-2357 .cs-link {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 2vw, 1rem);
    line-height: 1.2em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 85%;
    height: 3.5rem;
    margin: 0;
    padding: 0 1rem;
    background-color: #fff;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
  }
  #sbs-2357 .cs-link:hover {
    background-color: #1a1a1a;
    color: #fff;
  }
  #sbs-2357 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2357 .cs-container {
    max-width: 112.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-2357 .cs-flex {
    width: 53%;
    max-width: 28.5625rem;
    flex: none;
    justify-content: flex-start;
    gap: 0;
    order: 2;
  }
  #sbs-2357 .cs-stat {
    margin-top: 2rem;
  }
  #sbs-2357 .cs-picture2 {
    max-height: 100%;
    /* 480px - 660px */
    height: clamp(30rem, 60vw, 42.5rem);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1599 {
    padding: var(--sectionPadding);
  }
  #sbsr-1599 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1599 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbsr-1599 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #sbsr-1599 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1599 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #sbsr-1599 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1599 .cs-picture {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border: 2px solid #0000003a;
    /* <-- Light gray border */
  }
  #sbsr-1599 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1599 .cs-picture1 {
    height: 95vw;
    max-height: 25rem;
  }
  #sbsr-1599 .cs-picture2 {
    height: 111vw;
    max-height: 31.25rem;
  }
  #sbsr-1599 .cs-stats-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #sbsr-1599 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbsr-1599 .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid var(--primary);
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbsr-1599 .cs-number {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--headerColor);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbsr-1599 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1599 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1599 .cs-content {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1599 .cs-picture1 {
    /* 340px - 460px */
    min-height: clamp(21.25rem, 35vw, 28.75rem);
    height: 100%;
    max-height: 100%;
  }
  #sbsr-1599 .cs-picture2 {
    /* 530px - 660px */
    min-height: clamp(33.125rem, 45vw, 41.25rem);
    height: 100%;
    max-height: 100%;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2131 {
    padding: var(--sectionPadding);
    background-color: #FDFAF8;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-2131 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2131 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2131 .cs-title {
    margin: 0;
  }
  #services-2131 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-2131 .cs-item {
    list-style: none;
    width: 100%;
    height: 17.5rem;
    margin: 0;
    /* clips the image corners */
    overflow: hidden;
    grid-column: span 12;
    grid-row: span 1;
    gap: 0.5rem;
    position: relative;
  }
  #services-2131 .cs-item:hover .cs-h3,
  #services-2131 .cs-item:focus-within .cs-h3 {
    transform: translateY(0);
  }
  #services-2131 .cs-item:hover .cs-background:after,
  #services-2131 .cs-item:focus-within .cs-background:after {
    opacity: 0.6;
  }
  #services-2131 .cs-item:hover .cs-background img,
  #services-2131 .cs-item:focus-within .cs-background img {
    transform: scale(1.1);
  }
  #services-2131 .cs-link {
    text-decoration: none;
    height: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #services-2131 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    padding: 1rem 1.25rem;
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    /* transform down the same amount as the flex gap */
    transform: translateY(0.75rem);
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
  }
  #services-2131 .cs-h3:hover {
    background-color: #fff;
    color: var(--headerColor);
  }
  #services-2131 .cs-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2131 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    transition: height 0.3s;
  }
  #services-2131 .cs-background:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-2131 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    z-index: -3;
    transition: transform 0.6s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2131 .cs-container {
    max-width: 80rem;
  }
  #services-2131 .cs-card-group {
    max-width: 100%;
    grid-template-rows: 1fr;
  }
  #services-2131 .cs-item {
    /* 240px - 440px */
    min-height: clamp(15rem, 30vw, 27.5rem);
    grid-column: span 4;
  }
  #services-2131 .cs-item:nth-of-type(4),
  #services-2131 .cs-item:nth-of-type(5) {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2131 .cs-container {
    max-width: 115rem;
  }
  #services-2131 .cs-card-group {
    grid-template-columns: repeat(5, 1fr);
  }
  #services-2131 .cs-item {
    grid-column: span 1;
  }
  #services-2131 .cs-item:nth-of-type(4),
  #services-2131 .cs-item:nth-of-type(5) {
    grid-column: span 1;
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1635 {
    padding: var(--sectionPadding);
  }
  #why-choose-1635 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1635 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1635 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1635 .cs-title {
    max-width: 20ch;
  }
  #why-choose-1635 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-1635 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #why-choose-1635 .cs-wrapper {
    width: 100%;
  }
  #why-choose-1635 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #why-choose-1635 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }
  #why-choose-1635 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1635 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1635 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    text-align: inherit;
  }
  #why-choose-1635 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    text-align: inherit;
  }
  #why-choose-1635 .cs-wrapper {
    /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
    display: contents;
  }
  #why-choose-1635 .cs-image-group {
    font-size: min(2.7vw, 1em);
    width: 33.875em;
    height: 30.875em;
    /* sends it to teh top in the 1st position */
    order: -1;
    position: relative;
    z-index: 1;
  }
  #why-choose-1635 .cs-picture-wrapper {
    width: 80.073801%;
    height: 83.805668%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #why-choose-1635 .cs-box {
    width: 60%;
    margin-top: -2.375em;
    margin-left: 1.5em;
    padding: 1em;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    position: relative;
    z-index: 10;
  }
  #why-choose-1635 .cs-header {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #why-choose-1635 .cs-desc {
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1635 .cs-picture {
    position: relative;
    z-index: 1;
  }
  #why-choose-1635 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1635 .cs-picture1 {
    width: 100%;
    height: 100%;
  }
  #why-choose-1635 .cs-picture2 {
    width: 36.346863%;
    height: 39.878543%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1635 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1635 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-1635 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #why-choose-1635 .cs-title {
    margin: 0;
  }
  #why-choose-1635 .cs-h3,
  #why-choose-1635 .cs-item-text {
    text-align: left;
  }
  #why-choose-1635 .cs-item {
    grid-column: span 4;
  }
  #why-choose-1635 .cs-image-group {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1635 {
    /* set the darker background color on the main div */
    background-color: #F8F5F1;
    overflow: hidden;
  }
  #why-choose-1635 .cs-content {
    align-items: flex-start;
  }
  #why-choose-1635 .cs-flex {
    width: 50%;
  }
  #why-choose-1635 .cs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1635 .cs-wrapper:before {
    /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
    content: '';
    width: 100vw;
    height: 100vw;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1635 .cs-card-group {
    max-width: 39.375rem;
    /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
    padding-top: 3rem;
    align-self: flex-start;
  }
  #why-choose-1635 .cs-image-group {
    width: 33.875em;
    /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
    height: auto;
    min-height: 30.875em;
    /* makes it overlap the .cs-wrapper div */
    margin-top: -3rem;
    flex: none;
  }
  #why-choose-1635 .cs-item {
    grid-column: span 12;
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1672 {
    padding: var(--sectionPadding);
  }
  #reviews-1672 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4.5vw, 4rem);
  }
  #reviews-1672 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-1672 .cs-title {
    margin: 0rem;
  }
  #reviews-1672 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1672 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* 24px - 48px */
    gap: clamp(1.5rem, 4vw, 3rem);
  }
  #reviews-1672 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #reviews-1672 .cs-profile {
    width: 3.25rem;
    height: auto;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  #reviews-1672 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1672 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1672 .cs-job {
    /* 14px - 16px */
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-1672 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-1672 .cs-item-stars {
    width: 6.75rem;
    height: auto;
  }
  #reviews-1672 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    z-index: 1;
  }
  #reviews-1672 .cs-quote {
    width: 5.375rem;
    height: auto;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1672 .cs-item {
    grid-column: span 4;
  }
}
